/* Общие стили */

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-ExtraBold.woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Light.woff');
    font-weight: 300;
    font-style: normal;
}

body {
    /*font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy, sans-serif;
    /*  background-color: #616161; */
    background: linear-gradient(to bottom, #5c5b5b, #1A1A1A);
}


/* Контейнер для центрирования */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Hero блок */
.hero {
    /* background: url('./assets/hero-bg.jpg') top/cover no-repeat;*/
    color: white;
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 46px;
    color: #f0eded;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #000;
}

.btn {
    background-color: #88f058;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover {
    background-color: #63e726;
}

/* Новые стили для калькулятора */
.calculator h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    color: #e7e7e7;
}

.calculator h3 {
    margin: 30px 0 0 0;
    font-size: 18px;
    color: #e7e7e7;
}

.input-description {
    margin: 5px 0 10px;
    color: #919191;
    font-size: 14px;
}

.number-input {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.number-input__minus,
.number-input__plus {
    width: 40px;
    height: 40px;
    background: #88f058;
    color: #1A1A1A;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-input__minus:hover,
.number-input__plus:hover {
    background: #3da30e;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #e7e7e7;
}

.radio-label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.radio-label input {
    margin: 0;
}

.result-container {
    margin-top: 30px;
    display: none;
}

.result-item {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* Для Safari */
    border-radius: 12px;
    border: 1px solid #88f058;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.result-item h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
    color: #e7e7e7;
}

.result-item p {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #88f058;
}

.show {
    display: block;
}

.number-input__value {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* Для Safari */
    border-radius: 12px;
    border: 2px solid #88f058;
    width: 120px;
    height: 80px;
    margin: 0 25px;
    text-align: center;
    border: 1px solid #88f058;
    border-radius: 4px;
    font-size: 16px;
    color: #e7e7e7;
    padding: 0;
}

/* Убираем стрелочки в числовом поле */
.number-input__value::-webkit-inner-spin-button,
.number-input__value::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* ======= СЕКЦИЯ РАЦИОНОВ ======= */
/*#menus {
    padding: 40px 20px;
    /* background-color: #f9f9f9; */
/*    text-align: center;
}

#menus h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Стили для карточек меню */
.menu-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 80px 20px;
}

.menu-card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* Для Safari */
    border-radius: 12px;
    border: 3px solid #88f058;
    /*    box-shadow: 0 3px 12px #FF73C0; */
    width: 380px;
    padding: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.menu-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

.menu-card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-card h3 {
    font-size: 22px;
    font-weight: 700;
    color: #f3f3f3;
    margin: 0 0 20px 0;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
}

.menu-card-list {
    flex-grow: 1;
    margin-bottom: 25px;
}

.menu-card-list p {
    font-size: 18px;
    color: #eeeded;
    margin: 0 0 10px 0;
    font-weight: 500;
}

.menu-card-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-card-list li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 8px;
    font-size: 17px;
    color: #eeeded;
}

.menu-card-list li:before {
    content: "+";
    position: absolute;
    left: 0;
    color: #88f058;
    font-weight: normal;
    font-size: 28px;
    line-height: 1;
    top: 50%;
    /* Центрирование по вертикали */
    transform: translateY(-50%);
    /* Точное выравнивание */
}

.menu-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #88f058;
    padding-top: 20px;
}

.menu-price {
    font-size: 25px;
    font-weight: 700;
    color: #88f058;
}

.buy-btn {
    background: none;
    color: #f3f3f3;
    padding: 0;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: color 0.2s ease;
}

.buy-btn:hover {
    color: #88f058;
}

.buy-btn svg {
    transition: transform 0.2s ease;
}

.buy-btn:hover svg {
    transform: translateX(3px);
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background: white;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #88f058;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}